extends ../index.pug
include ../partials/_menu

block title
    | mu-header (C)

block css
    link(rel='stylesheet' href=url('/assets/header-c.css'))

block header
    header.mu-header.header-c(data-mu-fixed='small medium large')
        .row.column.mu-header__row.mu-header__row--small-space-between
            ul.mu-header__alt-menu.header-c__locales
                li: a(href='#') Cat
                li: a(href='#') Esp
                li: a(href='#') Eng
            ul.mu-header__alt-menu.header-c__social-links
                li: input.show-for-large.header-c__search-input(type='text')
                li: a(href='#') <i class="fa fa-fw fa-facebook"></i>
                li: a(href='#') <i class="fa fa-fw fa-twitter"></i>
                li: a(href='#') <i class="fa fa-fw fa-youtube"></i>
        .row.column.mu-header__row.mu-header__row--logo.mu-header__row--large-space-between
            +menu-a('mu-header__menu mu-header__menu--start show-for-large')
            div
                a.mu-header__logo(href='#')
                    h1 Mugari
            +menu-b('mu-header__menu mu-header__menu--end show-for-large')
            .mu-header__hover.mu-header__hover--middle.hide-for-large
                a.mu-header__hamburger: i.fa.fa-fw.fa-bars

block content
    include ../partials/_twelve-columns
    include ../partials/_twelve-columns
    include ../partials/_twelve-columns
    include ../partials/_twelve-columns
    include ../partials/_twelve-columns
    include ../partials/_twelve-columns
    include ../partials/_twelve-columns
    include ../partials/_twelve-columns
    include ../partials/_twelve-columns
    include ../partials/_twelve-columns
    div(style="min-height: 100vh;")
