extends ../index.pug

block title
    | mu-header (D)

block css
    link(rel='stylesheet' href=url('/assets/header-d.css'))

block content
    header.mu-header
        .row.column.mu-header__logo-row.mu-header__logo-row--medium-space-around
            a.mu-header__logo(href='#')
                h1 Mekop
            .mu-header__hover.mu-header__hover--left.show-for-medium
                ul.mu-header__alt-menu
                    li: a(href='#') ES
                    li: a(href='#') CA
            .mu-header__hover.show-for-medium
                ul.mu-header__alt-menu
                    li: a(href='#') <i class="fa fa-fw fa-twitter"></i>
                    li: a(href='#') <i class="fa fa-fw fa-facebook"></i>
                a.mu-header__hamburger: i.fa.fa-fw.fa-bars
            .mu-header__hover.mu-header__hover--middle.show-for-small-only
                a.mu-header__hamburger: i.fa.fa-fw.fa-bars

    include ../partials/_twelve-columns
    div(style="min-height: 200%;")
