extends ../index.pug

block title
    | mu-header (D)

block content
    header.mu-header
        .row.column.mu-header__logo-row
            h1.mu-header__logo.mu-header--medium-center MECOPH
            
    include ../partials/_twelve-columns
    div(style="min-height: 200%;")
