// Layout
$mu-header-logo-size: (
    small:  165px 50px,
    medium: 220px 65px,
    large:  260px 78px,
);
//$mu-header-logo-size: 260px 80px;
$mu-header-padding: .5;

// Misc
$mu-anchor-offset: -100px;

$mu-bg-default-color: #fff;
$mu-bg-neutral-color: #f8f8f8;
$mu-bg-primary-color: #b2c867;
$mu-bg-secondary-color: #fce6a4;

// Typography
$mu-small-size: .9rem;
$mu-smaller-size: .8rem;
