// Misc
$mu-anchor-offset: -100px;

$mu-bg-default-color: #fff;
$mu-bg-neutral-color: #f8f8f8;
$mu-bg-primary-color: #b2c867;
$mu-bg-secondary-color: #fce6a4;

// Typography
$mu-small-size: .9rem;
$mu-smaller-size: .8rem;
