@mixin munger-section-edge-image {
    .mu-edge-image {
        position: relative;
    }

    .mu-edge-image--left {}
    .mu-edge-image--right {}

    .mu-edge-image__image-wrapper {
        position: relative;
        height: 200px;
        width: 100%;
        z-index: 0;

        @include breakpoint(medium) {
            position: absolute;
            height: 100%;
        }
    }

    .mu-edge-image__image {
        height: 100%;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mu-edge-image__content {
        position: relative;
        @include mu-with-gutter-size(.5, padding-top, padding-bottom);
    }

    @include breakpoint(medium) {
        .mu-edge-image--left .mu-edge-image__content:before,
        .mu-edge-image--right .mu-edge-image__content:after {
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            background-color: inherit;
            @include mu-with-gutter-size(.5, width);
        }

        .mu-edge-image--left .mu-edge-image__content:before {
            @include mu-with-gutter-size(-.5, left);
        }

        .mu-edge-image--right .mu-edge-image__content:after {
            @include mu-with-gutter-size(-.5, right);
        }
    }
}
