@import 'settings/foundation-settings';
@import 'munger';

$mu-header-logo-size: 375px 86px;

@include munger-layout-header;

.mu-fixed__element {
    height: 80px;
    
    .mu-header__logo {
        opacity: 0;
    }
}
