ul.menu.dropdown(data-dropdown-menu)
    li.menu-item: <a href="#/projectes/">Projectes</a></li>
    li.menu-item.menu-item-has-children
        <a href="#/actualitat/">Actualitat</a>
        ul.menu
            li.menu-item: <a href="#/actualitat/">Blog</a></li>
            li.menu-item: <a href="/categoria/noticia/">Notícies</a></li>
    li.menu-item: <a href="#/contacte/">Contacte</a></li>
