$mu-anchor-offset: -100px !default;

@mixin munger-misc-anchor {
    .mu-anchor {
        display: block;
        position: relative;
        top: $mu-anchor-offset;
        visibility: hidden;
    }
}
