extends ../index.pug

block title
    | Icon List

block content
    .row.column
        strong LabCoop
    header.labcoop
        .row.column.social-container
            .flex-row.align-right
                ul.menu
                    li: a(href='#') <i class="fa fa-facebook"></i>
                    li: a(href='#') <i class="fa fa-twitter"></i>

        .row.column.menu-container
            .align-justify.align-middle(style='display: flex;')
                a.logo(style='display:inline-block;')
                    h1 Test
                ul.menu(style='display:inline-block;')
                    li: a(href='#') Inici
                    li: a(href='#') Qui som
                    li: a(href='#') Serveis
                    li: a(href='#') Projectes
                    li: a(href='#') Agenda
                    li: a(href='#') Recursos
                    li: a(href='#') Blog
                    li: a(href='#') Taulell
                    li: a(href='#') Contacte
