doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="/assets/munger.css")
        block title
            title Index

    body
        aside
            ul
                li: a(href="/index.html") Index
                li Section
                    ul
                        li: a(href="/section/edge-image.html") Edge Image

        block content
            h1 Welcome to Munger!
