.mu-header__row--logo {
  height: 4.375rem; }
  @media print, screen and (min-width: 40em) {
    .mu-header__row--logo {
      height: 5rem; } }

.mu-header__logo {
  width: 165px;
  height: 50px; }

.mu-header__menu > li > a {
  height: 4.375rem;
  line-height: 4.375rem; }
  @media print, screen and (min-width: 40em) {
    .mu-header__menu > li > a {
      height: 5rem;
      line-height: 5rem; } }

.mu-header__hover--middle {
  height: 4.375rem; }
  @media print, screen and (min-width: 40em) {
    .mu-header__hover--middle {
      height: 5rem; } }

@media print, screen and (min-width: 40em) {
  .mu-header__row--logo {
    height: 5.3125rem; } }
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    .mu-header__row--logo {
      height: 5.9375rem; } }

@media print, screen and (min-width: 40em) {
  .mu-header__logo {
    width: 220px;
    height: 65px; }
  .mu-header__menu > li > a {
    height: 5.3125rem;
    line-height: 5.3125rem; } }
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    .mu-header__menu > li > a {
      height: 5.9375rem;
      line-height: 5.9375rem; } }

@media print, screen and (min-width: 40em) {
  .mu-header__hover--middle {
    height: 5.3125rem; } }
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    .mu-header__hover--middle {
      height: 5.9375rem; } }

@media print, screen and (min-width: 64em) {
  .mu-header__row--logo {
    height: 6.125rem; } }
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    .mu-header__row--logo {
      height: 6.75rem; } }

@media print, screen and (min-width: 64em) {
  .mu-header__logo {
    width: 260px;
    height: 78px; }
  .mu-header__menu > li > a {
    height: 6.125rem;
    line-height: 6.125rem; } }
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    .mu-header__menu > li > a {
      height: 6.75rem;
      line-height: 6.75rem; } }

@media print, screen and (min-width: 64em) {
  .mu-header__hover--middle {
    height: 6.125rem; } }
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    .mu-header__hover--middle {
      height: 6.75rem; } }

.mu-header__row {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  display: flex !important;
  position: relative; }
  @media print, screen and (min-width: 40em) {
    .mu-header__row {
      padding-top: 0.46875rem;
      padding-bottom: 0.46875rem; } }

.mu-header__row--logo {
  padding-top: 0;
  padding-bottom: 0; }

.mu-header__menu > li > a {
  padding-top: 0;
  padding-bottom: 0; }

.mu-header__menu--start > li:first-child > a {
  margin-left: -1rem; }

.mu-header__menu--end > li:last-child > a {
  margin-right: -1rem; }

.mu-header__menu--text-bottom > li > a {
  padding-bottom: 0.625rem;
  display: table-cell;
  vertical-align: bottom;
  line-height: 1em !important; }
  @media print, screen and (min-width: 40em) {
    .mu-header__menu--text-bottom > li > a {
      padding-bottom: 0.9375rem; } }

.mu-header__menu--text-bottom > .is-dropdown-submenu-parent > a:after {
  top: inherit;
  bottom: 0.9375rem; }
  @media print, screen and (min-width: 40em) {
    .mu-header__menu--text-bottom > .is-dropdown-submenu-parent > a:after {
      bottom: 1.25rem; } }

.mu-header__logo {
  margin-top: 0.625rem;
  display: inline-block;
  text-indent: -999em; }
  @media print, screen and (min-width: 40em) {
    .mu-header__logo {
      margin-top: 0.9375rem; } }

.mu-header__hamburger {
  margin-left: .5em;
  display: inline-block;
  line-height: 38px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 19.2px;
  border: 1px solid #eee;
  border-radius: 3px; }

.mu-header__hover {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .mu-header__hover {
      top: 0.9375rem; } }
  @media print, screen and (min-width: 40em) {
    .mu-header__hover {
      right: 0.9375rem; } }

.mu-header__hover--left {
  left: 0.625rem;
  right: auto; }
  @media print, screen and (min-width: 40em) {
    .mu-header__hover--left {
      left: 0.9375rem; } }

.mu-header__hover--top-edge {
  top: 0; }
  .mu-header__hover--top-edge .mu-header__hamburger {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.mu-header__hover--middle {
  top: 0;
  display: flex;
  align-items: center; }

.mu-header__hover--bottom {
  bottom: 0.625rem;
  top: inherit; }
  @media print, screen and (min-width: 40em) {
    .mu-header__hover--bottom {
      bottom: 0.9375rem; } }

.mu-header__alt-menu {
  display: inline-block;
  font-size: 1.1rem;
  margin: 0;
  border-right: 1px solid #eee; }
  .mu-header__alt-menu li {
    display: inline-block;
    list-style: none;
    margin: 0 .5em; }

.mu-header__alt-menu:last-child {
  border-right: 0; }

.header-a__top-border {
  height: 20px;
  background-color: #f3f0e8;
  width: 100%; }

@media screen and (max-width: 63.9375em) {
  .mu-header__row--logo {
    box-sizing: content-box;
    border-bottom: 5px solid #0a0a0a; } }

.header-a__logo-wrapper {
  background-color: #fff; }

.header-a__menu-wrapper {
  background-color: #0a0a0a; }

.header-a__menu > li > a {
  height: 60px;
  line-height: 60px;
  padding: 0 25px;
  text-transform: uppercase;
  font-weight: bold; }
  .header-a__menu > li > a:hover {
    border-bottom: 4px solid #1779ba; }

.header-a__menu > li {
  border-left: 1px solid #10354d; }
  .header-a__menu > li:first-child {
    border-left: 0; }
