.mu-header__row--logo {
  height: 5rem; }
  @media screen and (min-width: 40em) {
    .mu-header__row--logo {
      height: 5.625rem; } }

.mu-header__logo {
  width: 250px;
  height: 50px; }

.mu-header__menu > li > a {
  height: 5rem;
  line-height: 5rem; }
  @media screen and (min-width: 40em) {
    .mu-header__menu > li > a {
      height: 5.625rem;
      line-height: 5.625rem; } }

.mu-header__hover--middle {
  height: 5rem; }
  @media screen and (min-width: 40em) {
    .mu-header__hover--middle {
      height: 5.625rem; } }

.mu-header__row {
  padding-top: 0.46875rem;
  padding-bottom: 0.46875rem;
  display: flex !important;
  position: relative; }
  @media screen and (min-width: 40em) {
    .mu-header__row {
      padding-top: 0.625rem;
      padding-bottom: 0.625rem; } }

.mu-header__row--logo {
  padding-top: 0;
  padding-bottom: 0; }

.mu-header__menu > li > a {
  padding-top: 0;
  padding-bottom: 0; }

.mu-header__menu--start > li:first-child > a {
  margin-left: -1rem; }

.mu-header__menu--end > li:last-child > a {
  margin-right: -1rem; }

.mu-header__menu--text-bottom > li > a {
  padding-bottom: 0.9375rem;
  display: table-cell;
  vertical-align: bottom;
  line-height: 1em !important; }
  @media screen and (min-width: 40em) {
    .mu-header__menu--text-bottom > li > a {
      padding-bottom: 1.25rem; } }

.mu-header__menu--text-bottom > .is-dropdown-submenu-parent > a:after {
  top: inherit;
  bottom: 1.25rem; }
  @media screen and (min-width: 40em) {
    .mu-header__menu--text-bottom > .is-dropdown-submenu-parent > a:after {
      bottom: 1.5625rem; } }

.mu-header__logo {
  margin-top: 0.9375rem;
  display: inline-block;
  text-indent: -999em; }
  @media screen and (min-width: 40em) {
    .mu-header__logo {
      margin-top: 1.25rem; } }

.mu-header__hamburger {
  margin-left: .5em;
  display: inline-block;
  line-height: 38px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 19.2px;
  border: 1px solid #eee;
  border-radius: 3px; }

.mu-header__hover {
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem; }
  @media screen and (min-width: 40em) {
    .mu-header__hover {
      top: 1.25rem; } }
  @media screen and (min-width: 40em) {
    .mu-header__hover {
      right: 1.25rem; } }

.mu-header__hover--left {
  left: 0.9375rem;
  right: auto; }
  @media screen and (min-width: 40em) {
    .mu-header__hover--left {
      left: 1.25rem; } }

.mu-header__hover--top-edge {
  top: 0; }
  .mu-header__hover--top-edge .mu-header__hamburger {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.mu-header__hover--middle {
  top: 0;
  display: flex;
  align-items: center; }

.mu-header__hover--bottom {
  bottom: 0.9375rem;
  top: inherit; }
  @media screen and (min-width: 40em) {
    .mu-header__hover--bottom {
      bottom: 1.25rem; } }

.mu-header__alt-menu {
  display: inline-block;
  font-size: 1.1rem;
  margin: 0;
  border-right: 1px solid #eee; }
  .mu-header__alt-menu li {
    display: inline-block;
    list-style: none;
    margin: 0 .5em; }

.mu-header__alt-menu:last-child {
  border-right: 0; }

.mu-fixed__element {
  box-shadow: none; }

.header-c {
  height: 150px;
  background: linear-gradient(#fff, #fff 130px, rgba(255, 255, 255, 0) 150px); }

.header-c .dropdown.menu > li.opens-right > .is-dropdown-submenu {
  top: 65px; }

.mu-header__menu > li > a, .mu-header__alt-menu > li > a {
  font-size: 1.0625rem; }

.header-c__locales {
  border-right: 0;
  margin-left: -.5em; }

.header-c__locales > li > a {
  font-size: 0.9375rem; }

.header-c__social-links {
  margin-right: -.5em; }

.header-c__search-input {
  margin-bottom: 0;
  height: 28px; }

body, main {
  background-color: #fff; }
