@mixin munger-list-icon-list {
    .mu-icon-list {
        margin: 0;
        @include mu-with-gutter-size(.5, margin-top, margin-bottom);
        //@include mu-with-gutter-size(.8, padding-left);
        padding-left: 2em;
        font-size: $mu-small-size;
    }

    .mu-icon-list__entry {
        list-style: none;
        line-height: 1.25em;
        @include mu-with-gutter-size(.125, margin-bottom);

        .fa {
            text-align: center;
            margin-left: -2em;
            width: 2em;
        }
    }

    .mu-icon-list--horizontal {
        padding-left: 0;

        .mu-icon-list__entry {
            display: inline-block;
            margin-right: 0.6em;

            .fa {
                margin-left: 0;
                width: 1.6em;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
